body {
  margin: 0;
  height: 100vh;
  font-weight: 100;
  justify-content: center;
  background: radial-gradient(#202020, #0c0c0c);
}

.logo {
  width: 25px;
  height: 25px;
}

.hackerone {
  width: 20px;
}

.emoji {
  font-size: 25px;
}