body {
  margin: 0;
  font-weight: 100;
  justify-content: center;
  background: linear-gradient(180deg, #0b0d39, #202020)
}

.logo {
  width: 25px;
  height: 25px;
}

.hackerone {
  width: 20px;
}

.emoji {
  font-size: 25px;
}
